
.box {
  display: flex;
  flex-direction: column;
}
.box + .box {
  margin-top: 10px;
}

.box > .box-title {
  font-weight: bold;
  color: #FFF;
  padding: 5px;
  background: #263238;
}
.box > .box-content {
  background: blue;
}
